<div class="container-fluid login-bg">
  <div class="login-form">

    <!-- <h2 class="login-header" style="font-size: 20px; line-height: 28px;"> Please contact your Admin to reset your
      password</h2>
      <p class="forgot-details"><span class="txt">Email</span> <span class="colon">:</span><span class="num">preethi.k@hil.in</span></p>
    <p class="forgot-details"> <span class="txt">Mobile</span> <span class="colon">:</span><span class="num">9652491623</span></p> -->

    <!-- <div class="hil-logo">
      <img src="./../../../assets/ckbirla-logo.png">
    </div> -->
    <h2 class="login-header">Forgot Your Password?</h2>
    <form [formGroup]="loginForm">
      <div class="example-container">
        <mat-form-field>

          <input matInput placeholder="Enter your email address" formControlName="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" required>
          <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>


      </div>

      <!-- <a routerLink='/audits'> -->
        <a class="disable">
          <button type="submit" class="login-btn" (click)="loginSubmit()">SUBMIT</button>
        </a>
    </form>

  </div>
</div>