<div class="container-fluid main-header">

  <nav class="navbar hil-navbar">

    <div class="navbar-header">
      <a class="navbar-brand">
        <img alt="Brand-logo" src="./../../assets/ckbirla-logo.png">
      </a>

      <div class="clearfix"></div>
    </div>
    <a class="admini-name">
      <ul class="list-unstyled">
        <li class="list=items">
          <i class="fa fa-user-circle-o user-image" aria-hidden="true"></i>
        </li>
        <li class="list=items">
          <span>Admin Name</span>
        </li>
        <li class="list-items">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </li>
      </ul>

    </a>

  </nav>
</div>