.action-btn {
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: rgb(148, 147, 147);
  /* text-transform: uppercase; */
}

.liteblue-btn {
  background-color: #d60062;
}

.mar-top-40 {
  margin-top: 40px;
}

.err-div {
  height: 18px;
}

.error {
  color: red;
  font-size: 13px;
  margin: 0;
}

.top-Select .form-control,
.top-Select .form-control:focus {
  border-radius: 0;
  width: 200px;
  border-color: #333;
  color: #333;
  font-size: 16px;
  height: 50px;
  outline: none;
}

.pro-title {
  font-size: 16px;
  font-weight: 500;
  color: #797979;
}

.home-head-color {
  color: #aa2b70;
  margin-bottom: 20px;
}

.text-description {
  line-height: 28px;
  margin-bottom: 40px;

}

.text-description a {
  color: #f99d1c !important;
}
