<div class="container-fluid login-bg">
    <div class="login-form">
  
      
      <h2 class="login-header">Reset Password?</h2>
      <form [formGroup]="resetPasswordForm">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="New Password" formControlName="newPassword" required [type]="hide ? 'password' : 'text'">
      
                <mat-error>{{getErrorMessage()}}</mat-error>
                <!-- <p *ngIf="errorMessage">Incorrect password</p> -->
              </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" required [type]="hide ? 'password' : 'text'">
  
            
            <!-- <p *ngIf="errorMessage">Incorrect password</p> -->
          </mat-form-field>
          <p *ngIf="(resetPasswordForm.controls.confirmPassword.dirty && resetPasswordForm.controls.confirmPassword.value!== resetPasswordForm.controls.newPassword.value)" 
      class="valid-password ">
        Password mismatch
       </p>
       <p *ngIf="(isValid && resetPasswordForm.controls.confirmPassword.status==='INVALID')" [hidden]="resetPasswordForm.controls.confirmPassword.dirty" class="valid-password">
       You must enter a value
       </p>
         
        </div>
  
        <!-- <a routerLink = '/audits'> -->
        <a class="disable">
          <button type="submit" class="login-btn" (click)="loginSubmit()">RESET PASSWORD</button>
        </a>
      </form>
  
    </div>
  </div>