<div class="main-fields">
  <div class="main-fields-in">
    <ul class="list-unstyled">
      <li class="list-items col-xs-3">
        <div class="row">
          <p class="hil-number">200</p>
          <span class="hil-name-category">Number of Users</span>
          <b class="hil-angle"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></b>
        </div>
      </li>
      <li class="list-items col-xs-3">
        <div class="row">
          <p class="hil-number">10</p>
          <span class="hil-name-category">Number of Categories</span>
          <b class="hil-angle"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></b>
        </div>
      </li>
      <li class="list-items col-xs-3">
        <div class="row">
          <p class="hil-number">50</p>
          <span class="hil-name-category">Number of Products</span>
          <b class="hil-angle"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></b>
        </div>
      </li>
    </ul>
  </div>
</div>