<div class="container pad-20-tb">
  <!-- <div class="row">
    <div class="col-sm-12">
      <h3 class="home-head-color">
        AWARDS & CERTIFICATIONS
      </h3>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="../../assets/excellence-productivity-award-img1.jpg" width="100%">
      <h4 class="text-colour-grey">
        Excellence in Productivity & Innovation
      </h4>
      <ul class="listpoints pad-l-15">
        <li>
          Glory of India
        </li>
        <li>
          National Award for Fly Ash Utilisation
        </li>
        <li>
          Best Management Award
        </li>
        <li>
          Innovative Product
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="../../assets/greenco-award1.jpg" width="100%">
      <h4 class="text-colour-grey">
        Greenco Award & Certification: Gold
      </h4>
      <ul class="listpoints pad-l-15">
        <li>
          Manufacturing Excellence Award
        </li>
        <li>
          Best Innovation in Brand Management
        </li>
        <li>
          Best Innovation in Sustainability
        </li>
        <li>
          Best Innovation in HR
        </li>
      </ul>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="../../assets/excellence-sustainability-award1.jpg" width="100%">
      <h4 class="text-colour-grey">
        Greenco Award & Certification: Gold
      </h4>
      <ul class="listpoints pad-l-15">
        <li>
          Best Innovative Product of the Year
        </li>
        <li>
          Outstanding Entrepreneur of the Year
        </li>
        <li>
          Business Superbrand of the Year
        </li>
        <li>
          Consumer Superbrand (Birla Aerocon) for 2 years
        </li>
      </ul>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="../../assets/Most-Trusted-Building-Materials-Company-Award.jpg" width="100%">
      <h4 class="text-colour-grey">
        Most Trusted Building Materials Company Award
      </h4>
      <ul class="listpoints pad-l-15">
        <li>
          Asia’s Most Trusted Brand Awards 2016
        </li>

      </ul>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="home-head-color">
        TESTIMONIALS
      </h3>
    </div>
    <ul>
      <li>
        <span class="num">1</span>
        <a class="image" href="../../assets/testimonials/Fair_Wealth.pdf" target="_blank">North–pipes & fittings—Fair
          Wealth</a>
      </li>
      <li>
        <span class="num">2</span>
        <a class="image" href="../../assets/testimonials/GLS_Infratech.pdf" target="_blank">North–pipes & fittings—GLS</a>
      </li>

      <li>
        <span class="num">3</span>
        <a class="image" href="../../assets/testimonials/Jena_Plumbing.pdf" target="_blank">North–pipes & fittings—Jena</a>
      </li>
      <li>
        <span class="num">4</span>
        <a class="image" href="../../assets/testimonials/WestPioneer_Blocks.pdf" target="_blank">North–Wet Walling–West
          Pioneer</a>
      </li>
      <li>
        <span class="num">5</span>
        <a class="image" href="../../assets/testimonials/Mahaveer_Panel.pdf" target="_blank"> West–Dry Walling–Mahavir</a>
      </li>

      <li>
        <span class="num">6</span>
        <a class="image" href="../../assets/testimonials/RUBBERWALAHILDrywallingSolution_RHIL.PDF" target="_blank">West–Dry
          Walling–Rubberwala</a>
      </li>
      <li>
        <span class="num">7</span>
        <a class="image" href="../../assets/testimonials/VELMADEC.JPG" target="_blank">West–Dry Walling–Velma Decor</a>
      </li>
      <li>
        <span class="num">8</span>
        <a class="image" href="../../assets/testimonials/SHREENATH.JPG" target="_blank">West–Pipes & Fittings–Shreenath</a>
      </li>
      <li>
        <span class="num">9</span>
        <a class="image" href="../../assets/testimonials/NiveeProperties.pdf" target="_blank">South-Wet Walling-Nivee Property</a>
      </li>
      <li>
        <span class="num">10</span>
        <a class="image" href="../../assets/testimonials/MeenakshiBlocks.pdf" target="_blank">South-Wet Walling-Meenakshi</a>
      </li>




    </ul>







  </div>

</div>