/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
/* font-family starts */
@font-face {
  font-family: 'sf_ui_displaybold';
  src: url('./assets/fonts/sf-ui-display-bold-58646a511e3d9.otf') format('woff2'), url('./assets/fonts/sf-ui-display-bold-58646a511e3d9.otf') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'sf_ui_displaylight';
  src: url('./assets/fonts/sf-ui-display-light-58646b33e0551.otf') format('woff2'), url('./assets/fonts/sf-ui-display-light-58646b33e0551.otf') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'sf_ui_displaymedium';
  src: url('./assets/fonts/sf-ui-display-medium-58646be638f96.otf') format('woff2'), url('./assets/fonts/sf-ui-display-medium-58646be638f96.otf') format('woff');
  font-weight: normal;
  font-style: normal;

}
/* font-familyends */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  /* font-family: 'Open Sans', sans-serif !important; */
  font-weight: 300;
  font-family: 'sf_ui_displaylight' !important;
}

.btn.active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus,
.btn:active,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  outline: none !important;
  color: #fff;
}

/* li,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.no-bag {
  background: none !important;
}

.no-bor {
  border: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
a:hover {
  text-decoration: none !important;
  color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  border: none;
}

/* 
Products css start
*/

.pad-top-50 .mat-checkbox-layout .mat-checkbox-inner-container {
  height: 30px;
  width: 30px;
}

.pad-top-50 {
  padding-top: 50px;
}

.lh-30 {
  line-height: 30px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mat-radio-button {
  padding: 10px 40px 10px 0;
}
.mat-toolbar{
  background-color: #fff !important;
}
.navbar-brand{
  padding: 15px 0px !important;
}

.mat-radio-inner-circle,
.mat-radio-outer-circle {
  width: 30px;
  height: 30px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(95, 95, 95);
  width: 30px;
  height: 30px;
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
  /* background-color: rgb(66, 134, 244); */
  width: 30px;
  height: 30px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(95, 95, 95);
}

.mat-radio-button .mat-radio-container {
  width: 30px;
  height: 30px;
}

.mat-radio-button .mat-radio-label-content {
  font-size: 16px;
  color: rgb(95, 95, 95);
}

.submit-btn {
  /* padding: 12px 20px; */
  border-radius: 3px;
  width: 100px;
  height: 50px;
  margin: 10px;

  background-color: #d60062;
  color: #fff;
}

.cancel-btn {
  width: 100px;
  height: 50px;
  margin: 10px;

  border-radius: 3px;
  background-color: #474747;
  color: #fff;
}

.border-btn,
.border-btn:hover {
  padding: 12px 20px;
  height: 50px;
  margin: 10px;

  border: 1px solid #474747;
  border-radius: 2px;
  background-color: #fff;
  font-size: 13px;
  color: #474747;
}
/* .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(95, 95, 95);
} */
/* 
products css end
*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+") !important;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 11px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem 2rem 1rem 1rem;
}

select::-ms-expand {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

/* body {
  font-family: 'Open Sans', sans-serif !important;
} */

.btn.active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus,
.btn:active,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  outline: none !important;
}

/* li,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.no-bag {
  background: none !important;
}

.no-bor {
  border: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
a:hover {
  text-decoration: none !important;
  color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  border: none;
}
/* login-form */
.login-form .mat-form-field .mat-form-field-label {
  color: grey;
}

.login-form .mat-input-element,
.login-form.mat-input-element {
  color: grey;
}

.login-form .mat-form-field-invalid .mat-input-element,
.login-form .mat-warn .mat-input-element {
  color: grey;
}

.login-form .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.3);
}

.login-form .mat-form-field.mat-focused .mat-form-field-ripple,
.login-form .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: rgba(255, 255, 255, 0.3);
}

.login-form .mat-form-field .mat-form-field-label .mat-form-field-required-marker {
  display: none;
}

.login-form .mat-form-field-underline {
  background-color: grey;
}
/* login-form-end */
/* add-user-starts */

.add-user-from .mat-form-field .mat-form-field-label {
  color: grey;
}

.add-user-from .mat-input-element,
.login-form.mat-input-element {
  color: grey;
}

.add-user-from .mat-form-field-invalid .mat-input-element,
.login-form .mat-warn .mat-input-element {
  color: grey;
}

.add-user-from .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.3);
}

.add-user-from .mat-form-field.mat-focused .mat-form-field-ripple,
.add-user-from .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: rgba(255, 255, 255, 0.3);
}
/* .add-user-from .mat-form-field .mat-form-field-label .mat-form-field-required-marker { display: none;} */
.add-user-from .mat-form-field-underline {
  background-color: grey;
}
/* add-user-ends */
/* adduser-checkbox starts*/
.users-import .mat-checkbox-layout {
  margin: 20px 0 0;
}

.add-user-from .mat-form-field-infix {
  width: 250px;
  position: relative;
}
/* adduser-checkbox ends*/

.custom-header .mat-expansion-panel-header-description,
.custom-header .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.custom-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-body {
  display: inline-block;
}

.mar-top-40 {
  margin-top: 40px;
}

.mar-top-20 {
  margin-top: 20px;
}

.font-15 {
  font-size: 15px;
}

.pad-l-r-15 {
  padding: 0 15px;
}

.right-50 {
  position: absolute;
  right: -50px;
}

.right-70 {
  position: absolute;
  right: -80px;
}

.right-20 {
  position: absolute;
  right: 20px;
}

.mar-l-20 {
  margin-left: 20px;
}
