.color-green {
  color: #21b24b;
}

.pad-20-tb {
  padding: 20px 0;
}

.home-head-color {
  color: #aa2b70;
  margin-bottom: 20px;
}

.text-description {
  line-height: 25px;
  /* margin-bottom: 40px; */

}

.text-colour-orange {
  color: #f99d1c;
}
